/* Structure globale du body */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Zone principale */
app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Footer sticky en bas */
/*.footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 0.9rem;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}*/
.footer {
  background-color: #2c3e50;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

